<div>

   <div class="delivery-container">
    <div class="address-heading">Select Delivery Options</div>
    <div class="delivery-options">
      <label *ngFor="let shipping of shippingOptions" class="delivery-option-box" [class.selected]="selectedShipping === shipping.id" (click)="selectShippingMethod(shipping.id)">
        <input type="radio" name="shipping" [(ngModel)]="selectedShipping" [value]="shipping.id" (change)="selectShippingMethod(shipping.id)">
        <div class="option-content">
          <div class="shipping-cost" [ngStyle]="{'background-color': shipping.cost === 'FREE' ? '#E6F7D9' : 'rgba(211, 211, 211, 0.384)', 'color': shipping.cost === 'FREE' ? '#37870f' : '#8A8D93'}">
            {{ shipping.cost === 'FREE' ? 'FREE' : shipping.cost + '€' }}
          </div>
          
          <i [class]="shipping.icon"></i>
          <div class="shipping-name">{{ shipping.name }}</div>
          <div class="shipping-duration">{{ shipping.duration }}</div>
          <div class="shipping-date">Arrives on {{ shipping.deliveryDate }}</div>
          <div class="radio-circle">
            <input type="radio" name="shippingRadio" [(ngModel)]="selectedShipping" [value]="shipping.id">
            <div class="circle"></div>
            
          </div>
        </div>
      </label>
    </div>
  </div>
  



  <!-- <div class="payment-container">
    <div class="address-heading">Payment Options</div>
 
  <div *ngFor="let payment of payments; let i = index">
    <div *ngIf="editingIndex === i; else displayPayment">
      <form #paymentForm="ngForm" (ngSubmit)="saveUpdatedPayment(i)">
      <input type="text" [(ngModel)]="payment.accountHolderName" placeholder="Account Holder's Name" required>
      <input type="text" 
         name="details"
         [(ngModel)]="editingFullDetails" 
         [placeholder]="currentDetailsPlaceholder" 
         required 
         [pattern]="getPattern()" 
         #paymentDetails="ngModel">

      <button (click)="saveUpdatedPayment(i)">Update</button>
      <button (click)="cancelAddOrEdit()">Cancel</button>

      <div class="error-message" *ngIf="paymentDetails.errors?.['pattern'] && (paymentDetails.dirty || paymentDetails.touched)" >
        {{ getErrorMessage() }}
      </div>
    </form>

    </div>
    <ng-template #displayPayment>
      <label>
        <input type="radio" name="payment" (change)="selectPayment(payment)" [checked]="payment.default">
        <img [src]="payment.imageUrl" alt="{{ payment.name }}" height="30" width="40">
        {{ payment.name }} - {{ editingIndex === i ? payment.details : payment.maskedDetails }} Name: {{ payment.accountHolderName }}
      </label>
      <button (click)="editPayment(i)">Edit</button>
      <button (click)="makeDefault(i)" *ngIf="!payment.default">Make Default</button>
      <button (click)="removePayment(i)">Remove</button>
    </ng-template>
  </div>

  <button (click)="addingPayment = true" *ngIf="!addingPayment">Add new payment method</button>
  <div *ngIf="addingPayment">
    <form #paymentForm="ngForm">
      <select name="select" [(ngModel)]="selectedPaymentType" (ngModelChange)="onPaymentTypeChange()">
        <option *ngFor="let type of paymentTypes" [ngValue]="type">{{ type.displayName }}</option>
      </select>
      <input type="text" [(ngModel)]="newPayment.accountHolderName" name="accountHolderName" #accountHolderName="ngModel" placeholder="Account Holder's Name" required>
      
      <input
        [type]="currentInputType"
        [(ngModel)]="newPayment.details"
        name="paymentDetails"
        #paymentDetails="ngModel"
        #details="ngModel"
        [placeholder]="currentDetailsPlaceholder"
        required
        [pattern]="getPattern()"
        [disabled]="!addingPayment && selectedPaymentType?.id !== 'credit'"
      />
      

      <div class="error-message" *ngIf="(accountHolderName!.dirty) && accountHolderName!.invalid">Name cannot be empty!</div>

      <div class="error-message" *ngIf="paymentDetails.errors?.['required'] && (paymentDetails.dirty || paymentDetails.touched)">
            Details cannot be empty!
          </div>
      <div *ngIf="paymentDetails.errors?.['pattern'] && (paymentDetails.dirty || paymentDetails.touched)" class="error-message">
        {{ getErrorMessage() }}
      </div>


      <br>
      <button (click)="saveNewPayment()" [disabled]="!paymentForm.valid">Save</button>
      <button (click)="cancelAddOrEdit()">Cancel</button>

    </form>
  </div>
</div>  -->

<div class="payment-container">
  <div class="address-heading">Payment Options</div>
  <div class="payment-options">
    <div *ngFor="let payment of payments; let i = index">
      <div class="payment-option-box" [class.selected]="selectedPayment === payment" (click)="selectPayment(payment)">
        <div *ngIf="editingIndex === i; else displayPayment">
          <form #paymentForm="ngForm" (ngSubmit)="saveUpdatedPayment(i)">
            <input type="text" [(ngModel)]="payment.accountHolderName" placeholder="Account Holder's Name" required>
            <input type="text" name="details" [(ngModel)]="editingFullDetails" [placeholder]="currentDetailsPlaceholder" required [pattern]="getPattern()" #paymentDetails="ngModel">
            <button (click)="saveUpdatedPayment(i)">Update</button>
            <button (click)="cancelAddOrEdit()">Cancel</button>
            <div class="error-message" *ngIf="paymentDetails.errors?.['pattern'] && (paymentDetails.dirty || paymentDetails.touched)">
              {{ getErrorMessage() }}
            </div>
          </form>
        </div>
        <ng-template #displayPayment>
          <div class="option-content">
            <img [src]="payment.imageUrl" alt="{{ payment.name }}" height="30" width="40">
            <div class="payment-name">{{ payment.accountHolderName }}</div>
            <div class="payment-details">{{ payment.maskedDetails }}</div>
            <div class="radio-circle">
              <input type="radio" name="paymentRadio" [(ngModel)]="selectedPayment" [value]="payment">
              <div class="circle"></div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="button-container">
        <button (click)="editPayment(i)">Edit</button>
        <button (click)="makeDefault(i)" *ngIf="!payment.default">Make Default</button>
        <button (click)="removePayment(i)">Remove</button>
      </div>
    </div>
  </div>
  <button (click)="addingPayment = true" *ngIf="!addingPayment">Add new payment method</button>
  <div *ngIf="addingPayment">
    <form #paymentForm="ngForm">
      <select name="select" [(ngModel)]="selectedPaymentType" (ngModelChange)="onPaymentTypeChange()">
        <option *ngFor="let type of paymentTypes" [ngValue]="type">{{ type.displayName }}</option>
      </select>
      <input type="text" [(ngModel)]="newPayment.accountHolderName" name="accountHolderName" #accountHolderName="ngModel" placeholder="Account Holder's Name" required>
      <input [type]="currentInputType" [(ngModel)]="newPayment.details" name="paymentDetails" #paymentDetails="ngModel" #details="ngModel" [placeholder]="currentDetailsPlaceholder" required [pattern]="getPattern()" [disabled]="!addingPayment && selectedPaymentType?.id !== 'credit'" />
      <div class="error-message" *ngIf="(accountHolderName!.dirty) && accountHolderName!.invalid">Name cannot be empty!</div>
      <div class="error-message" *ngIf="paymentDetails.errors?.['required'] && (paymentDetails.dirty || paymentDetails.touched)">Details cannot be empty!</div>
      <div *ngIf="paymentDetails.errors?.['pattern'] && (paymentDetails.dirty || paymentDetails.touched)" class="error-message">{{ getErrorMessage() }}</div>
      <br>
      <button (click)="saveNewPayment()" [disabled]="!paymentForm.valid">Save</button>
      <button (click)="cancelAddOrEdit()">Cancel</button>
    </form>
  </div>
</div>
