.product-item {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  box-shadow: 0 0 0.7px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  height: 510px ;

}

 .image-container {
    text-align: center;
}

.card-img {
  width: 180px;
  margin-top: 20px;
}

.card-brand {
  color: #909399;
  width: 90%;
  margin-bottom: 1px !important;
  height: 50px;
  margin-top: 30px;
  font-size: 18px !important;
}

.card-name {
  font-size: 20px !important;
  font-weight: 500;
  margin-bottom: 5px;
  height: 70px;
  padding: 0 10px 20px 0;
  
}

.card-price {
  background-color:#ABC9FB;
  width: 90px !important;
  padding: 5px 5px;
  border: 1px solid #90ADF8;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px !important;
  text-align: center;
  margin-bottom: 10px;
}

.card-price a {
  color: inherit;
  text-decoration: none;
}

.list-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 130px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0.1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: none 0 0 0;
  /* background-color: yellow; */
}
.list-view:hover {
  background-color: rgba(128, 128, 128, 0.08); 
}

.list-view .image-container {
  width: 15%;
  /* background-color: red; */
  margin: 0;
  padding: 0;
}


.list-view .desc-container {
  width: 80%;
}

.list-view .card-img {
  width: 170px;
  /* height: 200px; */
  object-fit:cover;
  text-align: left;
  margin: 0;
  padding: 0;
}

.list-view .card-brand {
  margin: 15px 0;
  padding: 0;
}

.list-view .card-name {
  margin: 10px 0;
  padding: 0;
}

/* ExtraSmall screens (from 0px to 260px) */

@media (min-width: 0) and (max-width: 260px) {


 .product-item {
    height: auto;
    padding: 20px 0;
    }

    .list-view {
      height: auto;
      flex-direction: column;
    }

   .desc-container {
      padding: 10px 10px;
      width: 100%;

    }

    .image-container {
      width: 100%;
    }
    
  .image-container img{
      max-width: 90%;
    }

   .card-name {
      font-size: 0.7rem;
      margin: 0;
  
    }

     .card-brand {
      font-size: 0.7rem;
      margin: 0;
  
    }

   .card-price {
      font-size: 0.6rem;
      
      width: 100%;
      
      padding: 5px;
      margin: 0;
      margin-top: 20px;
    }




  .list-view .product-item {
    height: auto;
    padding: 20px 0;
    }

    .list-view {
      height: auto;
      flex-direction: column;
    }

    .list-view .desc-container {
      padding: 10px 10px;
      width: 100%;

    }

    .list-view .image-container {
      width: 100%;
    }
    
    .list-view .image-container img{
      max-width: 90%;
    }

    .list-view .card-name {
      font-size: 0.7rem;
      margin: 0;
  
    }

    .list-view .card-brand {
      font-size: 0.7rem;
      margin: 0;
  
    }

    .list-view .card-price {
      font-size: 0.6rem;
      
      width: 100%;
      
      padding: 5px;
      margin: 0;
      margin-top: 20px;
    }
}



/* Small screens (mobile phones): 261px - 432px (27rem) */
@media (min-width: 261px) and (max-width: 27rem) {
  .product-item {
    height: auto;
    padding: 0;
  
    
  }

  .desc-container {
    padding: 10px 20px;
  }
  
  .product-item .card-img {
    width: 70%; 
    height: auto;
  }
  .product-item .card-name, 
  .product-item .card-brand {
    font-size: 1.1rem; 
  }
  .product-item .card-price {
    font-size: 1rem; 
    max-width: 90px;
    padding: 2px;
  }


  .card-brand {
    margin-bottom: 10px;
    height: 20px;
    margin-top: 15px;
  }
  
  .card-name {
    /* margin-bottom: 25px; */
    height: 50px;
  }
  
  .card-price {
    margin-top: 0;
    /* margin-bottom: 5px; */

  }



  .list-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    height: 170px;
    margin: 0;
    padding: 0;

    /* background-color: yellow; */
  }
 
  
  .list-view .image-container {
     
    width: 170px;
    min-width: 30%;
    /* background-color: red; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .list-view .desc-container {
    width: 70%;
    padding: 5px 15px;
  }

  
  .list-view .card-img {
    width: 120px;
    /* min-height: 100px;
    max-height: 100px; */
  }
  
  .list-view .card-brand {
    font-size: 0.9rem;
  }
  
  .list-view .card-name {
    margin: 10px 0 25px 0;
    font-size: 0.9rem;
  }

  .list-view .card-price {
    font-size: 0.8rem;
    width: 80px;
  }

}

/* iPads/Tablets: 432px (27.1rem) to 820px (51.25rem) */
@media (min-width: 27.1rem) and (max-width: 51.25rem) {
  .product-item {
    height: auto;
    padding: 10px 15px 15px 15px;
  }
  .product-item .card-img {
    width: 70%;
    height: auto;
  }
  .product-item .card-name, 
  .product-item .card-brand {
    font-size: 1rem; 
    margin: 0;
    padding: 0;
  }
  .product-item .card-price {
    font-size: 1rem; 
    width: 100px; 
    margin: 0;
    padding: 5px 0;
  }




.product-item   .list-view  {


    max-height: 270px;
    margin: 0;

   


  }

  .list-view .card-img {
    width: 170px;
    /* height: 200px; */
    object-fit:cover;

  }
 
  .list-view .image-container{
    padding: 0;
    margin: 0;
    width: 30%;
  }
  

  .list-view .image-container img {
    padding: 0;
    margin: 0;
    width: 90%;
  
  }
  
  
  .list-view .desc-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    /* background-color: yellow; */
    width: 70%;
    padding: 20px 10px;
  }

  .list-view .card-brand {
    font-size: 1.1rem;
  }
  
  .list-view .card-name {

    font-size: 1.1rem;
  }

  .list-view .card-price{
    padding: 3px 0;
    font-size: 1rem;

  }
  
}

/* Small desktops/laptops: 821px (51.3125rem) to 1440px (90rem) */
@media (min-width: 51.3125rem) and (max-width: 90rem) {
  .product-item {
    height: auto;
  }
  .product-item .card-img {
    width: 60%; 
    height: auto;
  }
  .product-item .card-name, 
  .product-item .card-brand {
    font-size: 1.2rem; 
  }
  .product-item .card-price {
    font-size: 1.1rem; 
    padding: 4px 0;
    width: 120px; 
  }





  .list-view .card-img {
    /* width: 170px; */
    /* height: 200px; */
    object-fit:cover;

  }
 
  .list-view .image-container{
    padding: 0;
    margin: 0;
    width: 30%;
  }
  

  .list-view .image-container img {
    padding: 0;
    margin: 0;
    width: 70%;
  
  }
  
  
  .list-view .desc-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    /* background-color: yellow; */
    width: 70%;
    padding: 20px 10px;
  }
}

/* Large desktops/laptops: 1441px (90.0625rem) to 2560px (160rem) */
@media (min-width: 90.0625rem) and (max-width: 160rem) {

  .product-item .card-name, 
  .product-item .card-brand {
    font-size: 1.4rem;
  }
  .product-item .card-price {
    font-size: 1.4rem; 
    width: 120px; 
  }
  .product-item {
    height: auto;
  }


  .product-item .card-name, 
  .product-item .card-brand {
    font-size: 1.4rem; 
  }
  .product-item .card-price {
    font-size: 1.4rem; 
  }


}

/* Extra-large screens (ultrawide monitors): 2561px (160.0625rem) and above */
@media (min-width: 160.0625rem) {
  .product-item {

    padding: 35px;
    height: auto;

  }
  .product-item .card-img {
    width: 50%; 
    height: auto;
    
  }
  .product-item .card-name, 
  .product-item .card-brand {
    font-size: 2rem; 
  }
  .product-item .card-price {
    font-size: 2rem; 
    width: 155px;
  }




  .list-view .card-img {
    width: 70%; 
    /* height: auto; */
   
  }

  .list-view .card-name {
    font-size: 2rem; 
  }

  .list-view .card-brand {
    font-size: 2rem; 
  }

  .list-view .desc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* width: 70%; */
    /* padding: 20px 10px; */
  }


}
