<div class="product-item" [class.list-view]="listViewMode" [class.grid-view]="!listViewMode">
  <div class="image-container">
    <a [routerLink]="['/products', product.id]">
      <img class="card-img" [src]="productService.getProductImage(product.id)" alt="{{ product.name }}">
    </a>
  </div>
  <div class="desc-container">
    <div class="card-brand">{{ product.brand }}</div>
    <div class="card-name">{{ product.name }}</div>
    <div class="card-price">{{ product.price }} &#8364;</div>
  </div>
</div>
