<!-- <div class="product-item" [class.list-view]="listViewMode" [class.grid-view]="!listViewMode">
  <div class="image-container"><img class="card-img" src="./assets/products/images/{{product.id}}.jpg" alt="{{product.name}}"></div>
  <div class="desc-container">
    <div class="card-brand">{{ product.brand }}</div>
    <div class="card-name">{{ product.name }}</div>
    <div class="card-price">{{ product.price }} &#8364;</div>
  </div>
</div> -->


<div class="product-item" [class.list-view]="listViewMode" [class.grid-view]="!listViewMode">
  <div class="image-container"><img class="card-img" src="./assets/products/images/{{product.id}}.jpg" alt="{{product.name}}"></div>
  <div class="desc-container">
    <div class="card-brand">{{ product.brand }}</div>
    <div class="card-name">{{ product.name }}</div>
    <div class="card-price">{{ product.price }} &#8364;</div>
  </div>
</div>
