nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#logo {
    display: flex;
    align-items: center;
    color: none;
}

.cart-badge .pi.pi-shopping-cart {
    color: black;
}

#title {
    font-size: 1.4rem;
    color: black;
    font-weight: 500;
}

#logo-img {
    width: 7ex;
}

.menu-entries {
    display: flex;
    align-items: center;
    justify-self: end;
}


.white-text .p-button-label {
    color: white !important; 
}


.cart-badge {
    cursor: pointer;
    position: relative;
    animation: shake 0.5s ease-in-out; 
}

.cart-badge .badge {
    position: absolute;
    top: -19px;
    right: -7px;
 
}

.view-button.list-button.user-icon .pi.pi-user {
    color: black;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.fade-out {
    animation: flyOut 0.5s forwards;
}

@keyframes flyOut {
    0% { opacity: 1; transform: translateX(0); }
    50% { opacity: 1; transform: translateX(10px); }
    100% { opacity: 0; transform: translateX(20px); display: none; }
}

::ng-deep .p-badge {
  font-size: 13px;
  padding: 0 6px; 
}

  
/*
Use the combination of :host and ::ng-deep to adapt PrimeNG styles
See https://primeng.org/theming#scopedcss and https://angular.io/guide/component-styles#special-selectors for more info
*/
:host ::ng-deep .menu-entries .p-button-label {
    font-weight: 600;

    color:black;
}

:host ::ng-deep .p-button {
    font-weight: 600;
    color:black;
}


.mylogo {
   width: 220px;
}


.user-icon {
    margin-right: 10px;
    border: none;
    background-color: white;
}
.user-icon:hover{
    cursor: pointer;
    background-color: none;
}

.popup-container {
    position: relative;
    
}

.popup-container:hover {
    cursor: pointer;
}


.overlay {
    position: absolute;
    top: 35px ;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
    padding: 7px;
    /* border-radius: 8px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    width: 155px;
    /* background-color: rgba(128, 128, 128, 0.427); */
    background-color: rgb(237, 236, 236);
    border: 1px solid gray;
}



.overlay a:hover {
    font-weight: 550;
    /* color: darkblue; */
}

.overlay-link {
    margin: 5px 0;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 550;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.overlay-link:hover {
    background-color: rgba(128, 128, 128, 0.281);
    border-radius: 5px;
}


.overlay-close {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    top:17px;
}

.overlay-close .pi {
    font-size: 1.3em;
}


.overlay-close .pi:hover {
    color:blueviolet;
    font-weight: 700;
}


/*
For more info, see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries
*/
/* Small screens (mobile phones): up to 375px (23.4375rem) */
@media (max-width: 27rem) {
    .menu {
        width: 92%;
        display: flex;
        /* flex-direction: column;  */
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        /* background-color: yellow; */
        margin: 0;
        padding: 0;
      
        
    }

  


.menu-entries {
    margin: 0;
    padding: 0;
}

    .view-button.list-button.user-icon .pi.pi-user {
        font-size: 1.8rem;
        font-weight: 550;

    }
    
    .mylogo {
        width: 190px;
       
        
    }
    
  

    .overlay-close {
        display: none;
    }
    
    .overlay-close .pi {
        display: none;
    }
    
    .menu #logo {
        display: block;
        margin-top: 5px;
    }

    .menu-entries {
        margin-top: 5px;
        display: flex;

    }
    .cart-badge .pi.pi-shopping-cart {
        font-size: 1.8rem; 
        margin-left: 20px;
     

    }
    .cart-badge .badge {
  
        top: -17px;
        right: -10px;
     
    }

    ::ng-deep .p-badge {
        font-size: 15px;
        /* width: 12px; */
        /* height: 20px; */
        /* padding: 1px  ;  */
        /* padding: 5 1px;  */
      }


      .overlay {
        transform: translateX(-70%);
        width: 135px;

    }
}

/* iPads/Tablets: 376px (23.5rem) to 820px (51.25rem) */
@media (min-width: 27.1rem) and (max-width: 51.25rem) {
    .menu {
        width: 90%; 
        /* display: flex; */
        /* flex-direction: column;
        align-items: center; */
    }

    .mylogo {
       
        width: 150px;
       
    }

    .view-button.list-button.user-icon .pi.pi-user {
        font-size: 1.2rem;
    }

    .menu-entries {


    }

    .overlay {
        transform: translateX(-75%);
        width: 175px;
    }

    .overlay-link {
        margin: 5px 0;
        font-weight: 600;
        padding: 17px 5px;
    }

    .overlay-close {
        display: none;
    }

    .overlay-close .pi {
        display: none;
    }

    .cart-badge .pi.pi-shopping-cart {
        font-size: 1.5rem; 
        /* margin-left: 10px; */
    }

    /* Center the user icon and badge */
    .menu-entries {

    }
}


/* Small desktops/laptops: 821px (51.3125rem) to 1440px (90rem) */
@media (min-width: 51.3125rem) and (max-width: 90rem) {
    .menu {
        width: 85%; /* Adjust this width as needed */
    }

    .view-button.list-button.user-icon .pi.pi-user {
        font-size:  1.6rem;
    }

    .cart-badge .pi.pi-shopping-cart {
        font-size: 1.8rem; /* Adjust the size as needed */
    }


}

/* Large desktops/laptops: 1441px (90.0625rem) to 2560px (160rem) */
@media (min-width: 90.0625rem) and (max-width: 160rem) {
    .menu {
width: 80%;
    }

    .mylogo {
        width: 205px;
    }

    .view-button.list-button.user-icon .pi.pi-user {
        font-size:  1.5rem;
    }

    .cart-badge .pi.pi-shopping-cart {
        font-size: 2.0rem; 
    } 
    
    
}

/* Extra-large screens (ultrawide monitors): 2561px (160.0625rem) and above */
@media (min-width: 160.0625rem) {
    .menu {
width: 80%;
     
    }


    .mylogo {
        width: 300px;
    }

    .view-button.list-button.user-icon .pi.pi-user {
        font-size:  2.4rem;
    }


    .overlay {
      
        width: 220px;
    }

    .overlay-link {
        margin: 5px 0;

        font-weight: 600;
        font-size: 24px;
  
        padding: 17px 5px;
    }
    
    .cart-badge .pi.pi-shopping-cart {
        font-size: 2.7rem; 
        margin-left: 15px;
    }

    ::ng-deep .p-badge {
        font-size: 26px;
        width: 30px;
        height: 32px;
        padding: 4px 4px 6px 4px; 
      }
      .cart-badge .badge {
        top: -29px;
        right: -10px;
     
    }

}





