<!-- <nav>
    <div class="menu">
        <a href="/" id="logo">
            <img class="mylogo" src="./assets/logo2.png" alt="Custom Logo" />
            <span id="title">
            </span>
        </a>
        <div class="menu-entries">
            <p-button [routerLink]="['login']" [text]="true" icon="pi pi-sign-in" label="Log in"></p-button>
            <p-button [routerLink]="['register']" [text]="true" icon="pi pi-user-plus" label="Register"></p-button>
            
            <ng-container *ngIf="cartItemCount > 0 || itemsRemoved">
                <span [routerLink]="['cart']" class="cart-badge" [ngClass]="{'fade-out': itemsRemoved}">
                    <i class="pi pi-shopping-cart" style="font-size: 1.8rem;"></i>
                    <p-badge [value]="cartItemCount" class="badge"></p-badge>
                </span>
            </ng-container>
        </div>
    </div>
</nav>
<app-search></app-search> -->



<nav>
    <div class="menu">
        <a href="/" id="logo">
            <img class="mylogo" src="./assets/logo2.png" alt="Custom Logo" />
            <span id="title"></span>
        </a>
        <div class="menu-entries">
            <div class="popup-container">
                <button class="view-button list-button user-icon" (click)="toggleOverlay()">
                    <i class="pi pi-user"></i>
                </button>
                <div class="overlay" *ngIf="overlayVisible">
                    <button class="overlay-close" (click)="toggleOverlay()"><i class="pi pi-times"></i></button>
                    <a class="overlay-link" [routerLink]="['login']">Log in</a>
                    <a class="overlay-link" [routerLink]="['register']">Register</a>
                    <a class="overlay-link" [routerLink]="['cart']">My Basket</a>
                </div>
            </div>
            <ng-container *ngIf="cartItemCount > 0 || itemsRemoved">
                <span [routerLink]="['cart']" class="cart-badge" [ngClass]="{'fade-out': itemsRemoved}">
                    <i class="pi pi-shopping-cart" ></i>
                    <p-badge [value]="cartItemCount" class="badge"></p-badge>
                </span>
            </ng-container>
        </div>
    </div>
</nav>
<app-search></app-search>
