.address-heading {
  font-weight: 300;
  font-size: 18px;
  color: grey;
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: 4px;
}

.address-card {
  border: 1px solid #4e4b4b9c;
  padding: 18px;
  margin-bottom: 25px;
  border-radius: 8px;
  
}

.address-card:last-child {
  margin-bottom: 15px;
}

.address-label {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.314);
}

.address-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.address-field-container {
  /* margin-bottom: 20px; */
  padding: 10px 25px;
}

.address-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #635f5f;
  border-radius: 4px;
  font-size: 16px;

}

.address-field {
  margin-bottom: 12px;
}

.delivering {
  margin-left: 10px;
}

.address-field.name {
  font-weight: bold;
}

.address-field.street,
.address-field.streetNumber,

.address-field.postalCode{
  margin-left: 30px;
}

/* .address-field.city */
/* .address-field.country  */

.address-type {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 4px 8px;

  margin-bottom: 8px;
}

button {
  margin-top: 8px;
  margin-right: 8px;

}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  resize: vertical; 
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 15px;
}

textarea:focus {
  border-color: #074f9c; 
  outline: none; 
  box-shadow: 0 0 5px rgba(7, 79, 156, 0.5); 
}

.error-message {
  color: red;
  font-size: 12px;
}

.button-container {
  margin-left: 25px;
}

.button-container button {
  border: none;
  background-color: white;
  color: #074f9c;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

.button-container button:hover {
  color: rgba(5, 86, 173, 0.666);
}

.default-address-card {
  /* background-color: #e6f7ff; */
  /* border-color: #91d5ff; */
  border: 2px solid #3b80f6ae;
}

.big-button button {
  background-color: white;
  /* border: 1px solid #074f9c; */
  margin: 20px 0 35px 25px;
  border-radius: 5px;
  padding: 5px 0;
  width: 100px;
  background-color: #074f9ccd;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.big-button button:hover {
  background-color: #074f9c96;
}

.add-button {
  background-color: white;
  /* border: 1px solid #074f9c; */
  /* margin: 20px 0 35px 25px; */
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 7px 10px;
  /* width: 160px; */
  background-color: #074f9ccd;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}



.add-button:hover {
  background-color: rgba(7, 79, 156, 0.724);
}

.inside-button {
  background-color: white;
  /* border: 1px solid #074f9c; */
  /* margin: 20px 0 35px 25px; */
  border-radius: 5px;
  padding: 5px 0;
  width: 100px;
  background-color: #074f9ccd;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 20px 0 10px 20px;
}

.inside-button:hover {
  background-color: rgba(7, 79, 156, 0.724);
}