       <div>
        <h3>Choose a delivery address</h3>
        <div *ngIf="savedAddresses.length > 0; else noAddresses">
          <div *ngFor="let address of savedAddresses; let i = index; trackBy: trackByIndex" [ngClass]="{'default-address': defaultAddressIndex === i}">
            <div *ngIf="editingIndex === i; else displayAddress">
              <input type="text" [(ngModel)]="address.name" placeholder="Name" (input)="onInputChange('name', $event)">
              <input type="text" [(ngModel)]="address.street" placeholder="Street" (input)="onInputChange('street', $event)">
              <input type="text" [(ngModel)]="address.city" placeholder="City" (input)="onInputChange('city', $event)">
              <input type="text" [(ngModel)]="address.postalCode" placeholder="Postal Code" (input)="onInputChange('postalCode', $event)">
              <p-dropdown 
                [options]="countries"
                [(ngModel)]="address.country"
                optionLabel="name"
                [filter]="true"
                filterBy="name" 
                [showClear]="true"
                placeholder="Select a Country">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <img 
                                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + (address.country?.code?.toLowerCase() || '')"
                                style="width: 18px" />
                            <div>{{ selectedOption.name }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <img 
                                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()"
                                style="width: 18px" />
                            <div>{{ country.name }}</div>
                        </div>
                    </ng-template>
              </p-dropdown>
              <button [disabled]="!isAddressValid(address)" (click)="saveUpdatedAddress(i)">Save</button>
              <button (click)="cancelAddOrEdit()">Cancel</button>
            </div>
            <ng-template #displayAddress>
              <label class="address-label">
                <input type="radio" name="address" (change)="selectAddress(address)" [checked]="address === selectedAddress">
                {{ address.name }} {{ address.street }}, {{ address.city }}, {{ address.postalCode }}, {{ address.country?.name }} 
              </label>
              <button (click)="editAddress(i)">Change</button>
              <button (click)="removeAddress(i)">Remove</button>
              <button *ngIf="!address.isDefault" (click)="makeDefault(i)">Make Default</button>
              <button (click)="toggleInstructions(i)">Add delivery instructions <i class="pi pi-angle-down"></i></button>
              <div *ngIf="instructionsIndex === i" [@slideDown]="'open'">
                <textarea [(ngModel)]="deliveryInstructions" placeholder="Enter delivery instructions"></textarea>
                <button (click)="saveInstructions(i)">Save</button>
              </div>
            </ng-template>
          </div>
        </div>
        <ng-template #noAddresses>
          <p>No addresses saved. Please add a new address.</p>
        </ng-template>
        <button (click)="addNewAddress()">Add a new address</button>
        <div *ngIf="addingAddress">
          <input type="text" placeholder="Name" [(ngModel)]="newAddress.name" (input)="onInputChange('name', $event)">
          <input type="text" placeholder="Street" [(ngModel)]="newAddress.street" (input)="onInputChange('street', $event)">
          <input type="text" placeholder="City" [(ngModel)]="newAddress.city" (input)="onInputChange('city', $event)">
          <input type="text" placeholder="Postal Code" [(ngModel)]="newAddress.postalCode" (input)="onInputChange('postalCode', $event)">
          <p-dropdown 
            [options]="countries"
            [(ngModel)]="newAddress.country"
            optionLabel="name"
            [filter]="true"
            filterBy="name" 
            [showClear]="true"
            placeholder="Select a Country">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                        <img 
                            src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                            [class]="'flag flag-' + (newAddress.country?.code?.toLowerCase() || '')"
                            style="width: 18px" />
                        <div>{{ selectedOption.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <img 
                            src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                            [class]="'flag flag-' + country.code.toLowerCase()"
                            style="width: 18px" />
                        <div>{{ country.name }}</div>
                    </div>
                </ng-template>
          </p-dropdown>
          <button (click)="saveNewAddress()">Save Address</button>
        </div>
      </div>
      