
.address-heading {
  font-weight: 300;
  font-size: 18px;
  color: grey;
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: 4px;
}

.address-card {
  border: 1px solid #4e4b4b9c;
  padding: 18px;
  margin-bottom: 25px;
  border-radius: 8px;
  position: relative;
}

.address-card:last-child {
  margin-bottom: 15px;
}

.address-label {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.314);
}

.address-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.address-field-container {
  padding: 10px 25px;
}

.address-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #635f5f;
  border-radius: 4px;
  font-size: 16px;
}

.address-field {
  margin-bottom: 12px;
}

.delivering {
  margin-left: 10px;
}

.address-field.name {
  font-weight: bold;
}

.address-field.street,
.address-field.streetNumber,
.address-field.postalCode {
  margin-left: 30px;
}

button {
  margin-top: 8px;
  margin-right: 8px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  resize: vertical; 
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 15px;
}

textarea:focus {
  border-color: #074f9c; 
  outline: none; 
  box-shadow: 0 0 5px rgba(7, 79, 156, 0.5); 
}

.error-message {
  color: red;
  font-size: 12px;
}

.button-container {
  margin-left: 25px;
}

.button-container button {
  border: none;
  background-color: white;
  color: #074f9c;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.button-container button:hover {
  color: rgba(5, 86, 173, 0.666);
}

.default-address-card {
  border: 2px solid #3b80f6ae;
}

.default-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #074f9c;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.big-button button {
  background-color: white;
  margin: 20px 0 35px 25px;
  border-radius: 5px;
  padding: 5px 0;
  width: 100px;
  background-color: #074f9ccd;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.big-button button:hover {
  background-color: #074f9c96;
}

.add-button {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 7px 10px;
  background-color: #074f9ccd;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgba(7, 79, 156, 0.724);
}

.inside-button {
  background-color: white;
  border-radius: 5px;
  padding: 5px 0;
  width: 100px;
  background-color: #074f9ccd;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 20px 0 10px 20px;
}

.inside-button:hover {
  background-color: rgba(7, 79, 156, 0.724);
}



/* Small screens (mobile phones): 261px - 432px (27rem) */
@media  (max-width: 27rem) {
  .add-button {
    margin-top: 20px;
    padding: 10px 8px;
    font-size: 0.9rem;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    justify-items: left;
    margin: 0;
    padding: 0;
  }
  .address-container {
    padding: 0;
    margin: 0;
  }
  .inside-button {
    padding: 8px 5px;
  }

  .address-heading {
    font-size: 1rem;
  }

  .make-default button{
    /* margin-top: 30px; */
  }

  .add-note {
    margin-left: 1px;
    /* margin-top: 30px; */
    padding-left: 0;
    /* font-size: 0.1rem; */

  }





}


/* iPads/Tablets: 432px (27.1rem) to 820px (51.25rem) */
@media (min-width: 27.1rem) and (max-width: 51.25rem) {
.add-button {
  margin-top: 20px;
  padding: 14px 10px;
  font-size: 1rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:12px;
  margin: 0;
  padding: 0;
}

.inside-button, .big-button button {
  padding: 12px 12px;
}




}


/* Small desktops/laptops: 821px (51.3125rem) to 1440px (90rem) */
@media (min-width: 51.3125rem) and (max-width: 90rem) {

}


/* Extra-large screens (ultrawide monitors): 2561px (160.0625rem) and above */
@media (min-width: 160.0625rem) {
  .add-button {
    margin-top: 20px;
    padding: 10px 8px;
    font-size: 1.4rem;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: left;
    margin: 0;
    padding: 0;
    
    
  }

  .button-container button {
    font-size: 1.4rem;
    
    
  }
  .address-container {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    padding: 20px 100px;
  }
  .inside-button {
    font-size: 1.5rem;
  }

  .address-heading {
    font-size: 1.6rem;
  }

  .address-card {
    font-size: 1.4rem;
  }

  .default-badge {
    font-size: 1.2rem;
    padding: 10px;
    margin-right: 10px;
    top:20px;
  }
  

  .address-input {
    font-size: 1.4rem;
  }
  ::ng-deep .p-dropdown-label {
    font-size:  1.4rem !important; 
}

::ng-deep .p-dropdown-item {
    font-size:  1.4rem !important; 
}
    }