.wizard-container {
    border-bottom: 1px solid rgba(128, 128, 128, 0.521);
    box-shadow: 1px 1px 3px 4px rgba(0, 0, 0, 0.041);
    padding: 35px 25px 30px 25px;
}

.stepper-hr {
    margin-bottom: 50px;
}


.wizard-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px; 
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
}

.wizard-button:hover:not(:disabled) {
  background-color: #0056b3;
  transform: scale(1.05);
}

.wizard-button:disabled {
  background-color: #d3d3d3;
  color: #a1a1a1;
  cursor: default; /* Ensure no cursor change on hover */
  pointer-events: none; /* Disable all hover effects */
}






/* ::ng-deep .stepper .p-steps-item .p-steps-number {
  background-size: contain;
  color: transparent; 
  cursor: pointer;
}

::ng-deep .stepper .p-steps-item:nth-child(1) .p-steps-number {
  background: url('/assets/icons/address.svg') no-repeat center center;
}

::ng-deep .stepper .p-steps-item:nth-child(2) .p-steps-number {
  background: url('/assets/icons/payment_delivery.svg') no-repeat center center;
}

::ng-deep .stepper .p-steps-item:nth-child(3) .p-steps-number {
  background: url('/assets/icons/summary.svg') no-repeat center center;
}

::ng-deep .stepper .p-steps-item.p-steps-current .p-steps-number {
  background-color: blue;
} */
