.wizard-container {
  border-bottom: 1px solid rgba(128, 128, 128, 0.521);
  box-shadow: 1px 1px 3px 4px rgba(0, 0, 0, 0.041);
  padding: 35px 25px 30px 25px;
}

.stepper-hr {
  margin-bottom: 70px;
}

.back-button {
  margin-right: 25px;


}

.next-back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.next-right {
  text-align: end;
}

.next-button {
  text-align: end;
}

.wizard-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px; 
  padding: 12px 35px;
  font-weight: 550;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  margin-bottom: 15px;
}

.wizard-button:hover:not(:disabled) {
  background-color: #0056b3;
  transform: scale(1.05);
}

.wizard-button:disabled {
  background-color: #d3d3d3;
  color: #a1a1a1;
  cursor: default; 
  pointer-events: none;
}

.checkout-product-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.checkout-card-container {
  width: 75%;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-left: 30px;

}

.checkout-item-image {
  width: 150px;
  padding: 15px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checkout-item-quantity {
  font-size: 20px;
}

.checkout-item-price {
  color:#1a1a87;
  font-size: 20px;
  font-weight: 600;
}

.address-heading {
  font-weight: 300;
  font-size: 18px;
  color: grey;
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: 4px;
}

.checkout-item-details {
  padding: 20px 10px 20px 45px;
}

.checkout-item-name {
  font-size: 20px;
  font-weight: 600;
}

.order-information {
  margin-top: 60px;
  font-size: 28px;
  font-weight: 600;
}


.checkout-info {
  display: flex;
  flex-direction:  row;
  margin-top: 50px;
  width: 100%;
 
}


.checkout-info-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 3px solid #2A83A5;
  border-right: none;
  padding: 30px 40px;
  width: 50%;
}

.checkout-info-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid #2A83A5;
  padding: 20px 40px;
  width: 50%;
}


.order-summary {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 35px;
}

.order-price-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.order-price-header {
  font-size: 20px;
  font-weight: 500;

}

.confirm-button {
  display: block;
  background-color: #F5CA00; 
  padding: 15px 17px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  border:none;
  margin-top: 45px;
  margin-bottom: 35px;
}

.confirm-button:hover {
  background-color: #f5c800c2; 
  cursor: pointer;

}

.info-heading {
  font-size: 20px;
  font-weight: 550;
}

.info-sub-text {
  font-size: 18px;
  color: rgb(41, 40, 40);
}

.total-price {
  border-top: 1px solid gray;
}

.order-price {
  font-size: 18px;
  font-weight: 500;
}

.order-price-final {
  font-size: 26px;
  font-weight: 650;
  color:#B12704; 
  margin-top: 25px;
}

.order-total-price {
  font-size: 26px;
  font-weight: 650;
  color:#B12704; 
  margin-top: 25px;

}

.vat {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color:rgba(0, 0, 0, 0.604); 
  margin-top: 10px;

}
/* ::ng-deep .stepper .p-steps-item .p-steps-number {
  background-size: contain;
  color: transparent; 
  cursor: pointer;
}

::ng-deep .stepper .p-steps-item:nth-child(1) .p-steps-number {
  background: url('/assets/icons/address.svg') no-repeat center center;
}

::ng-deep .stepper .p-steps-item:nth-child(2) .p-steps-number {
  background: url('/assets/icons/payment_delivery.svg') no-repeat center center;
}

::ng-deep .stepper .p-steps-item:nth-child(3) .p-steps-number {
  background: url('/assets/icons/summary.svg') no-repeat center center;
}

::ng-deep .stepper .p-steps-item.p-steps-current .p-steps-number {
  background-color: blue;
} */




/* Small screens (mobile phones): 261px - 432px (27rem) */
@media  (max-width: 27rem) {


  .next-button,.back-button {
    font-size: 1rem;
    padding: 12px 22px;
  }
.wizard-container {
  /* background-color: red; */
  font-size: 0.9rem;
}

.order-information {
  font-size: 1.5rem;
}

.checkout-item-image {
  width: 90%;
  padding: 15px 0 0 0;
}

.checkout-image {
  width: 200px;
}

.checkout-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.checkout-info {
  flex-direction: column;

}

.checkout-info-left, .checkout-info-right {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 20px 20px;
 

} 
.confirm-button {
  font-size: 1.2rem;
 
  margin: 0;
  margin-bottom: 45px;
  font-weight: 550;

}


}


/* iPads/Tablets: 432px (27.1rem) to 820px (51.25rem) */
@media (min-width: 27.1rem) and (max-width: 51.25rem) {


  .next-button,.back-button {
    font-size: 1rem;
    padding: 12px 22px;
  }
.wizard-container {
  /* background-color: red; */
  font-size: 0.9rem;
}

.order-information {
  font-size: 1.5rem;
}

.checkout-item-image {
  width: 90%;
  padding: 15px 0 0 0;
}

.checkout-image {
  width: 200px;
}

.checkout-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.checkout-info {
  flex-direction: column;

}

.checkout-info-left, .checkout-info-right {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 20px 20px;
 

} 
.confirm-button {
  font-size: 1.2rem;
 
  margin: 0;
  margin-bottom: 45px;
  font-weight: 550;

}
}


/* Small desktops/laptops: 821px (51.3125rem) to 1440px (90rem) */
@media (min-width: 51.3125rem) and (max-width: 90rem) {

}


/* Extra-large screens (ultrawide monitors): 2561px (160.0625rem) and above */
@media (min-width: 160.0625rem) {
.wizard-container {
  width: 70%;
  padding: 20px 100px;
  margin: 0 auto; 
  /* text-align: center; */
}
.next-button,.back-button {
  font-size: 1.7rem;
}
.confirm-button, .address-heading {
  font-size: 1.7rem;
}

.checkout-item-details, .checkout-item-price, .checkout-item-quantity, 
.checkout-item-name {
  
  font-size: 1.5rem;
}  

.checkout-info {
  width: 60%;
}
.checkout-card-container {
  width: 70%;
  justify-content: space-between;
}

.checkout-item-image {
  width: 20%;
}

.checkout-item-image img {
  margin-left: 40px;
}

.checkout-item-details {
  width: 70%;
}

.confirm-button {
  margin-top: 50px;
  font-size: 2.2rem;
}

.order-information {
  font-size: 2.2rem;
}
  }