.result-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 6px 16px -6px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}

.sorting {
    width: 150px;
    display: flex;
    justify-content: flex-end;
}

.search-value {
    color:#C35500;
    font-weight: 600;
}

::ng-deep .sorting p-dropdown .p-dropdown-label {
    height: 30px;
    display: flex;
    align-items: center;
  }

.search-container {
    display: flex;
    flex-direction: row;
}

.filters-container {
    width: 30%;
    padding: 60px 10px 0 10px;
}

.filter-title {
    font-size: 18px;
    /* font-weight: bold; */
    margin-bottom: 45px;
  }
  
  .filter-options {
    display: flex;
    flex-direction: column;
  }
  
  .filter-options div {
    display: flex;
    align-items: center; 
    margin-bottom: 5px;
  }
  
  .filter-options label {
    margin-left: 5px;
  }

  .categories-filter-container {
    margin-top: 65px;
  }

  :host ::ng-deep .custom-dropdown .p-dropdown {
    width: 200px;
  }
  

  .price-filter {
    width: 70%;
    height: 60px;
  }

  .price-filter-title {
    font-size: 18px;
  }

  .price-filter-values {
    text-align: center;
    margin-top: 15px;
    color:#3131319e;
    font-size: 16px;
  }

  :host ::ng-deep .p-slider-handle { 
    border: 7px solid #007184;
    width: 25px; 
    height: 25px; 
  }

  :host ::ng-deep .p-slider-range { 
    background-color: #007184; 
  }
  
  .see-more-button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.results-container {
    width: 70%;
}


.color-filter-container {
  /* width: 90%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.color-title {
  width: 100%; 
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 30px;
}

.color-box-container {
  position: relative;
}

.color-box {
  padding: 5px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  color: #fff; 
  width: 65px;
  height: 60px;
  font-weight: 700;
  font-size: 10px;
  border-radius: 10px;
}

.color-box.selected {
  opacity: 0.5;
}

.color-name {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 5px; 
  border-radius: 5px;
  z-index: 999;
  max-width: calc(100% - 10px); 
  overflow: hidden;
  white-space: normal; 
  text-overflow: ellipsis;
  text-align: center;
}

.color-box:hover .color-name {
  display: block;
}

.dark-text {
  color: black;
}


.select-all-checkbox input[type="checkbox"] {
  display: none;
}

.size-label {
  font-size: 16px;
  margin-right: 5px;
}

.reset-filter-container {
  text-align: center;
  margin-top: 15px; 
}


.reset-filters-button {
  background-color: #cccccc4f;
  border: 1px solid #ccc;
  color: #333;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-size: 16px;
}

.reset-filters-button:hover {
  background-color: rgba(240, 240, 240, 0.442);
  border-color: #ccc;
  color: #000;
}








::ng-deep .search-results-product-list .grid-view .product-item {
  height: 420px;
  min-height: 350px;
  max-height: 490px;
  padding: 10px;
}

::ng-deep .search-results-product-list .grid-view {
  text-align: center;
}

::ng-deep .search-results-product-list .grid-view .card-img {
  width: 150px;
  margin-top: 5px;
  padding: 0;
  object-fit: cover;
}

::ng-deep .search-results-product-list .grid-view .card-brand {
  margin-bottom: 5px;
}

::ng-deep .search-results-product-list .grid-view .card-price {
  font-size: 16px;
  width: 90px;
  font-weight: 600;
  padding: 7px 0;
  margin: 15px 0;
}

::ng-deep .search-results-product-list .grid-view .desc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .search-results-product-list .grid-view .card-brand {
  font-size: 18px;
}




::ng-deep .search-results-product-list .list-view {

  text-align: left;
  justify-content: left;
}

::ng-deep .search-results-product-list .list-view .desc-container {
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
}




::ng-deep .search-results-product-list .list-view .product-item{
  height: 180px;
  max-height: 180px;
  min-height: 180px;
}


::ng-deep .search-results-product-list .list-view .card-img {
  width: 170px;
  margin-top: 5px;
  padding: 0;
}