<div class="back-button" (click)="navigateHome()">‹ Back to Home Page</div>
<div class="product-container" *ngIf="product">
  <div class="product-image-container">
    <p-image 
      class="product-image" 
      *ngIf="selectedColor" 
      [src]="productService.getProductImage(selectedColor.color_id)" 
      [alt]="product.name" 
      [preview]="true" 
    ></p-image>
    <p-image 
      class="product-image" 
      *ngIf="!selectedColor" 
      [src]="productService.getProductImage(product.id)" 
      [alt]="product.name" 
      [preview]="true"
    ></p-image>
    <div class="click-image-text">Click picture to open expanded view</div>
  </div>
  <div class="product-details-container">
    <h2>{{ product.name }}</h2>

    <div class="rating-container">
      <div class="rating-numbers">
        {{ product.rating.toFixed(1) }}
      </div>
      <div class="rating-stars">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <i class="star"
            [ngClass]="{
              'full': product.rating >= star,
              'half': product.rating >= star - 0.5 && product.rating < star
            }">
          </i>
        </ng-container> 
      </div>
      <span class="separator"> | </span>
      <div class="rating-quantity">
        {{ formatNumberWithCommas(product.ratingQuantity) }} reviews
      </div>
    </div>

    <hr>

    <p class="price">{{ product.price }} &#8364;</p>
    <p class="description">{{ product.description }}</p>
    <p><span class="title-weight">Brand: </span> {{ product.brand }}</p>
    <p><span class="title-weight">Gender:</span> {{ product.gender }}</p>


<div class="size-selector" *ngIf="product">
  <span class="size-title title-weight">Sizes:</span>
  <select class="size-dropdown" (change)="onSizeChange($event)">
    <option *ngFor="let size of product.sizes" [value]="size" [selected]="size === selectedSize">{{ size }}</option>
  </select>
</div>


  
  
  
  
    
    
    
    
    <div class="color-selector" *ngIf="product.colors.length">
      <span class="title-weight">Colors:</span>
      <div class="color-boxes">
        <div 
          *ngFor="let color of product.colors" 
          class="color-box" 
          [ngStyle]="{'background-color': color.color_hex}" 
          [ngClass]="{'selected': color === selectedColor}" 
          (click)="onColorSelect(color)">
        </div>
      </div>
    </div>
    
  </div>
</div>
