.back-button {
    font-size: 14px;
    cursor: pointer;
    color: #817f7f;
    margin: 0 0 25px 0; 
    font-weight: 500;
}

.back-button:hover {
    text-decoration: underline;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 

}

.product-image-container {
    width: 30%;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer; 
    box-shadow: 0 0 0 0.2px rgba(204, 204, 204, 1);
    border-radius: 15px;
  }

.image-box {
    display: flex;
    flex-direction: column;
}

.click-image-text {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #817f7f;
    margin-top: 25px; 
}

.delivery .pi-truck {
    font-size: 1.1rem !important; 
  }
.product-details-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
h2 {
    font-size: 30px;
}

.brand-name {
    font-size: 18px;
    color: #817f7f;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #000000f4;
    vertical-align: middle;
}

.rating-container {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Updated */
    margin: 10px 0 0 0;
}

.rating-stars {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 7px;
    margin-left: 5px;
}

.star {
    width: 18px;
    height: 18px;
    margin-right: 2px;
    background-color: #ccc;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}

.star.full {
    background-color: #F3A420;
}

.star.half {
    background: linear-gradient(to right, #F3A420 50%, #ccc 50%);
}

.seperator {
    margin: 0 5px;
    font-size: 14px;
    color: #888;
}
  
.rating-numbers {
    font-size: 16px;
    color: #888;
}

.rating-quantity {
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    color: #358797;
}
  
.rating-quantity:hover {
    text-decoration: underline;
    color: #C85423;
}


hr {
    border: none;
    height: 1px; 
    background-color: #ccc; 
    margin: 20px 0; 
}

.title-weight {
    font-size: 16px;
    font-weight: 600;
}

.details-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-wrap: wrap;
}

.shopping-settings {
    width: 25%;

    box-shadow: 0 0 0 0.5px rgba(204, 204, 204, 1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 95px 0;
}

.stock {
    font-weight: 500;
    font-size: 24px;
    color: rgba(7, 114, 7, 0.786);
}

.free-return .pi-replay {
    font-size: 1.1rem;
}

.delivery {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .delivery span {
    margin-left: 0.5rem;
    font-size: 16px;
  }
  
  .free-return span {
    font-size: 16px;
  }

.price {
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0;
}

.total_amount {
    font-size: 30px;
    font-weight: 600;
}

.color-selector {
    display: flex;
    flex-direction: column;
    margin-top: 35px;

  }
  
  .color-title {
    margin-right: 10px;
  }
  
  .color-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
  }
  
  .color-container {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: border-color 0.3s, opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .color-container.selected {
    border: 2px solid rgba(0, 0, 255, 0.498);
    padding: 5px 0 5px 5px;
  }
  
  .color-box {
    width: 50px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s, opacity 0.3s;
  }
  
  .color-box.selected {
    opacity: 1;
  }
  
  .color-box:hover {
    background-color: #e0e0e0;
  }
  
  .color-container:not(.selected) .color-box {
    opacity: 0.4;
  }

  .product-detail-name {
    font-size: 1.8rem;
    font-weight: 700;
  }

.quantity {
    width: 94%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.quantity-selected {
    font-size: 20px;
    margin: 0 10px;
    border: 1px solid #2781A3;
    padding: 7px 40px;
}

.minus, .plus {
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.324);
     /* background-color:#2782a390; */
}

.quantity-text {
    font-size: 15px;
}

.buy-now,
.add-to-basket
 {
    background-color: #F3A41E;
    font-size: 20px;
    font-weight: 600;
    width: 230px;
    padding: 15px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}

.buy-now:hover {
    background-color: #f3a51ec4;
}

.add-to-basket {
    background-color: #F5CA00;
}

.add-to-basket:hover {
    background-color: #f5c800a5
}

.recommended-products-container {
    margin-top: 25px;
    width: 100%;
}

.recommended-products-header {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.recommended-products-header h3 {
    margin: 25px 0 30px 0;
    font-size: 20px;
    text-align: center; 
}


.recommended-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    margin-top: 20px;
}

.recommended-product-item {
    width: 140px;
    margin-right: 20px; 
    margin-bottom: 20px; 
}

.recommended-product-item img {
    width: 100%;
    height: auto;
}

.recommended-product-item p {
    margin: 10px 0 0;
    font-size: 14px;
    text-align: center;
}

.hr-bottom {
    margin: 70px 0;
}
.feedback-container {
    margin-bottom: 50px;
}

.feedback-title {
    font-size: 26px;
    font-weight: 700;
    margin: 70px 0 50px 0;
}
  
  .feedback-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  
  .user-info img {
    width: 70px; 
    height: 80px; 
    border-radius: 50%; 
    margin-right: 10px; 
  }
  
  .username {
    font-weight: bold;
    margin-left: auto; 
    margin: 15px 0;
  }

  .rating-stars {
    display: flex;
  }
  
  .star {
    margin: 0 0 20px 0;
  }
  
  p {
    margin-top: 5px; 
  }

   .scroll-top-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #007bffb3; 
    color: white;
    border: none;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
  }
  
  .scroll-top-button:hover {
    opacity: 0.8;
  }
  
  



  .size-selector {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  
  }
  
  .size-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .size-box {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: border-color 0.3s, background-color 0.3s;
  }
  
  .size-box.selected {
    border: 2px solid rgba(0, 0, 255, 0.498);
    /* border-color: blue; */
    background-color: #f0f8ff; 
  }
  
  .size-box:hover {
    background-color: #e0e0e0;
  }
  



  
/* Media query for responsive design */
/* @media (max-width: 768px) {
    .back-button {
        margin-left: 20px;
    }

    .product-container, .details-section-container {
        flex-direction: column;
        align-items: center;
    }

    .product-image-container, 
    .product-details-container,
    .product-details{
        width: 100%;
        padding: 0 10px ;
    }

    .shopping-settings {
        width: 90%;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .product-image-container {
        width: 350px;
        height: auto; 
        margin: 20px 0;
    }
    .add-to-basket {
        margin-bottom: 15px;
    }
}

 */



 /* ExtraSmall screens (from 0px to 260px) */

@media (min-width: 0) and (max-width: 260px) {

    
   }
   
   
   
   /* Small screens (mobile phones): 261px - 432px (27rem) */
   @media  (max-width: 27rem) {
    .back-button {
        display: none;
        margin: 0;
    }

    .scroll-top-button {
        display: none;
        margin: 0;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        padding: 0;
        margin: 0;
    
    }
    
    .hr-bottom {
        margin: 0;
        padding: 0;
    }

    .product-image-container {
        width: 80%;
        margin: 0;
        /* order: 1; */
    }
    
    .click-image-text {
        font-size: 10px;
        margin: 6px 0;
    }
   
    .product-image-container {
        order:2;
        margin-top: 25px;
    }   

    .product-details-container {
        width: 90%;
        margin: 0;
        padding: 0;
        order:1;
   
    }

    .shopping-settings {
        width: 90%;
        order:3;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 20px;
        height: 450px;
        flex-direction: column;
        gap: 20px;
        padding: 40px 0;
 

}

    .recommended-products-container {
        order:4;
        margin: 0;
    }

    .feedback-container {
        order:5;
        width: 80%;
       
    }


    .product-details-container .product-detail-name {
        font-size: 1.5rem; 
        margin: 0 0 10px 0;
        padding: 0;
    }

    .rating-numbers {
        /* margin: 0; */
        /* padding: 0; */
        font-size: 0.9rem; 
    }

    .rating-stars {
        /* margin: 0; */
        /* padding: 0; */
        font-size: 0.9rem; 
    }

    .rating-quantity {
        /* margin: 0; */
        /* padding: 0; */
        font-size: 0.9rem; 
    }

    .separator {
        font-size: 0.9rem;
    }

    hr {
        margin: 5px 0 10px 0;
    }

    .price {
        font-size: 1.5rem;
    }

    .size-box {
        padding: 15px 25px;
      }

      .size-boxes {
        justify-content: space-between;
      }

      .plus, .minus {
        width: 60px;
        height: 60px;
      }

      .plus {
        margin-left: 20px;
      }

      .minus {
        margin-right: 20px;
      }

      .quantity-selected {
  
        /* margin: 0 20px; */
      
        padding: 17px 30px;
    }

    .recommended-products-header h3 {
        font-size: 26px;
    }
    .recommended-products-header {
        margin: 0;
        padding: 0;
    }

    .recommended-product-list {
        margin: 0;
        padding: 0;
    }

    .recommended-product-item {
        margin: 0;
    }

   }


   
   
   /* iPads/Tablets: 432px (27.1rem) to 820px (51.25rem) */
   @media (min-width: 27.1rem) and (max-width: 51.25rem) {

    .back-button {
        display: none;
        margin: 0;
    }

    .scroll-top-button {
        display: none;
        margin: 0;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        padding: 0;
        margin: 0;
    
    }
    
    .hr-bottom {
        margin: 0;
        padding: 0;
    }

    .product-image-container {
        width: 60%;
        margin: 0;
        /* order: 1; */
    }
    
    .click-image-text {
        font-size: 10px;
        margin: 6px 0;
    }
   
    .product-image-container {
        order:2;
        margin-top: 25px;
    }   

    .product-details-container {
        width: 90%;
        margin: 0;
        padding: 0;
        order:1;
   
    }

    .shopping-settings {
        width: 90%;
        order:3;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 20px;
        height: 450px;
}

    .recommended-products-container {
        order:4;
        margin: 0;
    }

    .feedback-container {
        order:5;
        width: 80%;
       
    }


    .product-details-container .product-detail-name {
        font-size: 1.5rem; 
        margin: 0 0 10px 0;
        padding: 0;
    }

    .rating-numbers {
        /* margin: 0; */
        /* padding: 0; */
        font-size: 0.9rem; 
    }

    .rating-stars {
        /* margin: 0; */
        /* padding: 0; */
        font-size: 0.9rem; 
    }

    .rating-quantity {
        /* margin: 0; */
        /* padding: 0; */
        font-size: 0.9rem; 
    }

    .separator {
        font-size: 0.9rem;
    }

    hr {
        margin: 5px 0 10px 0;
    }

    .price {
        font-size: 1.5rem;
    }

    .size-box {
        padding: 15px 25px;
      }

      .size-boxes {
        justify-content: space-between;
      }

      .plus, .minus {
        width: 60px;
        height: 60px;
      }

      .plus {
        margin-left: 20px;
      }

      .minus {
        margin-right: 20px;
      }

      .quantity-selected {
  
        /* margin: 0 20px; */
      
        padding: 17px 30px;
    }

    .recommended-products-header h3 {
        font-size: 26px;
    }
    .recommended-products-header {
        margin: 0;
        padding: 0;
    }

    .recommended-product-list {
        margin: 0;
        padding: 0;
    }

    .recommended-product-item {
        margin: 0;
    }

   }
   
   /* Small desktops/laptops: 821px (51.3125rem) to 1440px (90rem) */
   @media (min-width: 51.3125rem) and (max-width: 90rem) {

    .back-button {
        margin-top: 15px;

    }

    .quantity {
        min-width: 90%;
    }

    .quantity-selected {
        font-size: 18px;
        padding: 7px 15px;
    }

    .add-to-basket{
        font-size: 17px;
        font-weight: 700;
        /* max-width: 80%; */
        margin: 0;
        /* padding: 0; */
        width: 100%;
    }

    .add-to-basket-container{
        /* font-size: 17px;
        font-weight: 700; */
        /* max-width: 80%; */
        /* padding: 0; */
        width: 75%;
    }

   }
   
   /* Large desktops/laptops: 1441px (90.0625rem) to 2560px (160rem) */
   @media (min-width: 90.0625rem) and (max-width: 160rem) {

}


/* Extra-large screens (ultrawide monitors): 2561px (160.0625rem) and above */
@media (min-width: 160.0625rem) {
    .back-button {
        font-size: 26px;

    }

    .product-image-container {
        width: 25%;
    }

    :root main{
        width: 70%;
    }

    .recommended-products-header h3 {
        font-size: 30px;
    }

    .recommended-products-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .product-detail-name {
        font-size: 2.7rem;
    }

    .rating-numbers {
        font-size: 1.7rem;
    }

    .separator {
        font-size: 1.7rem;
    }

    .rating-quantity {
        font-size: 1.7rem;
    }
    
    .star {
        width: 30px;
        height: 30px;
    }

    .click-image-text {
        font-size: 18px;
    }

    .price {
        font-size: 2.7rem;
    }

    .description {
        font-size: 2rem;
    }

    .title-weight {
        font-size: 1.6rem;
    }

    p {
        font-size: 1.6rem;
    }

    .size-box {
        padding: 20px 30px;
    }
    .color-box {
        width: 60px;
        height: 50px;
    }

    .color-name {
        font-size: 1.6rem;
    }

    .shopping-settings {
        width: 20%;
                /* height: 500px; */
    }
    
    .delivery .pi-truck {
        font-size: 2rem !important; 
      }

      .free-return .pi-replay {
        font-size: 2rem;
    }

      .color-selector {
        margin-top: 40px;
      }

      .shopping-settings .shopping-sub-text {
        font-size: 2rem;
      }

      .stock {  
        font-size: 2.5rem;
      }

      .size-boxes {
        gap: 40px;
      }


      .add-to-basket    {
        font-size: 1.8rem;
        padding: 15px 40px;
        width: 100%;
    
       
      }

      .shopping-settings {
        padding: 100px 0;
      }






      .recommended-products-header h3 {
        margin-top: 70px;
        font-size: 35px;
    }
    
    
    .recommended-product-list {
        gap: 4%;
        margin-top: 20px;
    }
    
    .recommended-product-item {
        width: 210px;
        margin-right: 20px; 
        margin-bottom: 20px; 
    }
    
    
    .recommended-product-item p {
        font-size: 20px;;
    }
    
    .feedback-container {
        padding: 0 10%;
        
    }

    .feedback-text {
        font-size: 2rem;
    }
    .feedback-title {
        font-size: 2.7rem;
    }

    .username {
        font-size: 1.6rem;
    }

    .scroll-top-button {
        display: none;
    }

    .user-info img {
        width: 110px;
        height: 110px;
    }
}