* {
    font-size: 18px;
}

.back-button {
    font-size: 14px;
    cursor: pointer;
    color: #817f7f;
    margin: 0 0 25px 0; 
    font-weight: 500;
}

.back-button:hover {
    text-decoration: underline;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 

}

.product-image-container {
    width: 30%;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer; 
    box-shadow: 0 0 0 0.2px rgba(204, 204, 204, 1);
    border-radius: 15px;
  }

.image-box {
    display: flex;
    flex-direction: column;
}

.click-image-text {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #817f7f;
    margin-top: 25px; 
}

.product-details-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
h2 {
    font-size: 30px;
}

.brand-name {
    font-size: 18px;
    color: #817f7f;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #000000f4;
    vertical-align: middle;
}

.rating-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 10px 0 0 0;
}

.rating-stars {
    display: flex;
    margin-right: 7px;
    margin-left: 5px;
}

.star {
    width: 18px;
    height: 18px;
    margin-right: 2px;
    background-color: #ccc;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}

.star.full {
    background-color: #F3A420;
}

.star.half {
    background: linear-gradient(to right, #F3A420 50%, #ccc 50%);
}

.seperator {
    margin: 0 5px;
    font-size: 14px;
    color: #888;
}
  
.rating-numbers {
    font-size: 16px;
    color: #888;
}

.rating-quantity {
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    color: #358797;
}
  
.rating-quantity:hover {
    text-decoration: underline;
    color: #C85423;
}

hr {
    border: none;
    height: 1px; 
    background-color: #ccc; 
    margin: 20px 0; 
}

.title-weight {
    font-size: 16px;
    font-weight: 600;
}

.details-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-wrap: wrap;
}

.shopping-settings {
    width: 25%;

    box-shadow: 0 0 0 0.5px rgba(204, 204, 204, 1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 25px 0
}

.stock {
    font-weight: 500;
    font-size: 24px;
    color: rgba(7, 114, 7, 0.786);
}

.delivery {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .delivery span {
    margin-left: 0.5rem;
    font-size: 16px;
  }
  
  .free-return span {
    font-size: 16px;
  }

.price {
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0;
}

.total_amount {
    font-size: 30px;
    font-weight: 600;
}

.color-selector {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  
  .color-title {
    margin-right: 10px;
  }
  
  .color-boxes {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .color-container {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: border-color 0.3s, opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .color-container.selected {
    border: 1px solid #ccc;
    padding: 10px 0 10px 5px;
  }
  
  .color-box {
    width: 50px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s, opacity 0.3s;
  }
  
  .color-box.selected {
    opacity: 1;
  }
  
  .color-box:hover {
    background-color: #e0e0e0;
  }
  
  .color-container:not(.selected) .color-box {
    opacity: 0.4;
  }

.quantity {
    width: 94%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.quantity-selected {
    font-size: 20px;
    margin: 0 10px;
    border: 1px solid black;
    padding: 7px 40px;
}

.minus, .plus {
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.324);
}

.quantity-text {
    font-size: 15px;
}

.buy-now,
.add-to-basket
 {
    background-color: #F3A41E;
    font-size: 20px;
    font-weight: 550;
    width: 230px;
    padding: 15px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}

.buy-now:hover {
    background-color: #f3a51ec4;
}

.add-to-basket {
    background-color: #F5CA00;
}

.add-to-basket:hover {
    background-color: #f5c800a5
}

.recommended-products-container {
    margin-top: 25px;
}

.recommended-products-header {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.recommended-products-header h3 {
    margin: 25px 0 30px 0;
    font-size: 20px;
    text-align: center; /
}


.recommended-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.recommended-product-item {
    width: 150px;
    margin-right: 20px; 
    margin-bottom: 20px; 
}

.recommended-product-item img {
    width: 100%;
    height: auto;
}

.recommended-product-item p {
    margin: 10px 0 0;
    font-size: 14px;
    text-align: center;
}

.hr-bottom {
    margin: 70px 0;
}
.feedback-container {
    margin-bottom: 50px;
}

.feedback-title {
    font-size: 26px;
    font-weight: 700;
    margin: 70px 0 50px 0;
}
  
  .feedback-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  
  .user-info img {
    width: 70px; 
    height: 80px; 
    border-radius: 50%; 
    margin-right: 10px; 
  }
  
  .username {
    font-weight: bold;
    margin-left: auto; 
    margin: 15px 0;
  }

  .rating-stars {
    display: flex;
  }
  
  .star {
    margin: 0 0 20px 0;
  }
  
  p {
    margin-top: 5px; 
  }
  
  /* .scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .scroll-to-top-button.visible {
    opacity: 1;
    visibility: visible;
  }
   */

   .scroll-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
  }
  
  .scroll-top-button:hover {
    opacity: 0.8;
  }
  
  
  
/* Media query for responsive design */
@media (max-width: 768px) {
    .back-button {
        margin-left: 20px;
    }

    .product-container, .details-section-container {
        flex-direction: column;
        align-items: center;
    }

    .product-image-container, 
    .product-details-container,
    .product-details{
        width: 100%;
        padding: 0 10px ;
    }

    .shopping-settings {
        width: 90%;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .product-image-container {
        width: 350px;
        height: auto; 
        margin: 20px 0;
    }
    .add-to-basket {
        margin-bottom: 15px;
    }
}


