form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

input {
  padding: 12px 15px;
  width: 240px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #616A77;
  font-size: 16px;
}

input:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.error-message{
  color: red;
  height: 30px;
}

:host ::ng-deep input::placeholder, 
:host ::ng-deep .p-dropdown-label  {
  color: #ccc;
}
