<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <h2>Login Page</h2>

  <!-- Input fields -->
  <div class="input-container">
    <div>
    <input pInputText formControlName="email" id="email" type="email" placeholder="Email"/>
    <label for="email"></label>
    </div>
    <div class="error-message">
      <small *ngIf="email?.errors?.['required'] && (email?.dirty || formSubmitted)">Email address cannot be empty!</small>
          <small *ngIf="email?.errors?.['email'] && (email?.touched || formSubmitted) && !email?.errors?.['required']">Please enter a valid email address!</small>
    </div>
  </div>

  <div class="input-container ">
    <div>
    <input pInputText formControlName="password" id="password" type="password" placeholder="Password" />
    <label for="password"></label>
  </div>

    <div class="error-message">
      <small *ngIf="(password!.dirty|| formSubmitted) && password!.invalid">Password cannot be empty!</small>
    </div>
  </div>

  <!-- Submit button -->
  <div class="input-container"> 
  <p-button type="submit" label="Login" id="login-button" severity="success"></p-button>
  </div>
</form>