<div class="view-selection-container">
  <button class="view-button list-button" [class.selected]="listViewMode" (click)="listViewMode = true">
    <i class="pi pi-bars"></i>
  </button>
  <button class="view-button grid-button"[class.selected]="!listViewMode" (click)="listViewMode = false">
    <i class="pi pi-th-large"></i>
  </button>
</div>

<div class="grid-view" [ngClass]="{'list-view': listViewMode}">
  <div *ngFor="let product of products">
    <app-product-item [product]="product" [listViewMode]="listViewMode"></app-product-item>
  </div>
</div>

<div class="loading-more-container" *ngIf="!endOfList">
  <button pButton type="button" [disabled]="isLoading" (click)="loadMoreProducts()">
    <span *ngIf="!isLoading">Load more</span>
    <span *ngIf="isLoading">
      <i class="pi pi-spin pi-spinner"></i>  Loading...
    </span>
  </button>
</div>

<!-- <div class="end-of-list-message" *ngIf="endOfList">
  <p>No more products available.</p>
  <button class="scroll-to-top-button p-button p-button-text" type="button" (click)="scrollToTop()">
    <span class="button-content">
      <i class="pi pi-angle-double-up pi-circle"></i>
      <span>Back to Top</span>
    </span>
  </button>  
</div> -->

<div class="end-of-list-message" *ngIf="endOfList">
  <p>No more products available.</p>
  <button class="scroll-to-top-button p-button p-button-text" type="button" (click)="scrollToTop()">
    <span class="button-content">
      <i class="pi pi-angle-double-up pi-circle"></i>
      <span>Back to Top</span>
    </span>
  </button>  
</div>



