<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


  <div>
    <p class="required-fields">Fields marked * are required.</p>

    <h3>Name</h3>
    <div class="radio-buttons-container">
      <span>
        <p-radioButton name="title" value="Mr." formControlName="title" inputId="option1" (click)="selectMrOrMrs()"></p-radioButton>
        <label for="option1" class="ml-2">Mr.</label>
      </span>
      <span>
        <p-radioButton name="title" value="Mrs." formControlName="title" inputId="option2" (click)="selectMrOrMrs()"></p-radioButton>
        <label for="option2" class="ml-2">Mrs.</label>
      </span>
      <span class="other-input-container">
        <p-radioButton name="title" value="Other" formControlName="title" inputId="option3" (click)="selectOtherOption()"></p-radioButton>
        <label for="option3" class="ml-3" *ngIf="!showOtherInput">Other</label>
      </span>
          <!-- Conditionally display input form for "Other" -->
      <div *ngIf="showOtherInput" class="other-title">
        <input pInputText formControlName="otherTitle" id="other-title" type="text" placeholder="* Other Title"/>
        <label for="other-title"></label>
      </div>
    </div>
    




    <div class="input-container ">
      <input pInputText formControlName="firstName" id="first-name" type="text" placeholder="* First name"/>
      <label for="first-name"></label>
    
      <input pInputText formControlName="lastName" id="last-name" type="text" placeholder="* Last name" />
      <label for="last-name"></label>
    </div>
  
    <div class="input-container">
      <div>
        <input pInputText formControlName="email" id="email" type="email" placeholder="* Email"/>
        <label for="email"></label>
        <p class="credentials">You will need your email to log in to the store.</p>
      </div>
      <div>
        <input pInputText formControlName="password" id="password" type="password" placeholder="* Password" />
        <label for="password"></label>
        <p class="credentials">Your password needs at least 8 characters.</p>
      </div>
    </div>



    <h3>Birthdate</h3>
    <p-calendar [iconDisplay]="'input'" [showIcon]="true" inputId="birthday"  placeholder="* Birthdate"></p-calendar>
    
      
 
    <h3>Address</h3>

    <div class="input-container">
        <input pInputText id="street" type="text" placeholder="* Street"/>
        <label for="street"></label>


        <p-inputNumber inputId="street_number" placeholder="* No."></p-inputNumber>
        <label for="street_number"></label>


    </div>
    <div class="input-container">
      <input pInputText id="zip-code" type="text" placeholder="* Postcal Code"/>
      <label for="zip-code"></label>


      <input pInputText id="city" type="text" placeholder="* City"/>
      <label for="city"></label>


  </div>
  <div class="input-container">
    <p-dropdown [options]="countries" optionLabel="label" optionValue="value" [showClear]="true" placeholder="* Country"></p-dropdown>
  </div>

  <button pButton pRipple label="Submit" class="p-button-success"></button>


  </div>

</form>